@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 <!-- Testimonial Section -->
    <section class="testimonial-section" style="background-image: url(images/background/2.jpg);">
        <div class="inner-container">
            <div class="sec-title light">
                <h2>Clients Says</h2>
                <div class="text">You read our clients review check this now</div>
            </div>

            <div class="testimonial-carousel owl-carousel owl-theme">
                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="thumb-box">
                            <figure class="thumb"><img src="images/resource/thumb-1.jpg" alt=""></figure>
                            <div class="rating">
                                <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span>
                            </div>
                        </div>

                        <div class="content-box">
                            <h4 class="name">Hank Morriso</h4>
                            <span class="addres">Kidny Patient / Washington</span>
                            <div class="text">Mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete of the system.</div>
                        </div>
                    </div>
                </div>

                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="thumb-box">
                            <figure class="thumb"><img src="images/resource/thumb-2.jpg" alt=""></figure>
                            <div class="rating">
                                <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span>
                            </div>
                        </div>

                        <div class="content-box">
                            <h4 class="name">Hank Morriso</h4>
                            <span class="addres">Kidny Patient / Washington</span>
                            <div class="text">Mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete of the system.</div>
                        </div>
                    </div>
                </div>

                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="thumb-box">
                            <figure class="thumb"><img src="images/resource/thumb-1.jpg" alt=""></figure>
                            <div class="rating">
                                <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span>
                            </div>
                        </div>

                        <div class="content-box">
                            <h4 class="name">Hank Morriso</h4>
                            <span class="addres">Kidny Patient / Washington</span>
                            <div class="text">Mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete of the system.</div>
                        </div>
                    </div>
                </div>

                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="thumb-box">
                            <figure class="thumb"><img src="images/resource/thumb-2.jpg" alt=""></figure>
                            <div class="rating">
                                <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span>
                            </div>
                        </div>

                        <div class="content-box">
                            <h4 class="name">Hank Morriso</h4>
                            <span class="addres">Kidny Patient / Washington</span>
                            <div class="text">Mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete of the system.</div>
                        </div>
                    </div>
                </div>

                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="thumb-box">
                            <figure class="thumb"><img src="images/resource/thumb-1.jpg" alt=""></figure>
                            <div class="rating">
                                <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span>
                            </div>
                        </div>

                        <div class="content-box">
                            <h4 class="name">Hank Morriso</h4>
                            <span class="addres">Kidny Patient / Washington</span>
                            <div class="text">Mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete of the system.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Testimonial Section -->

