@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 <!-- Work Section -->
    <section class="work-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>How We Work</h2>
                <div class="text">Always honest rules of cooperation <br>We Follow them</div>
            </div>

            <div class="work-area clearfix">
                <!-- Work Block -->
                <div class="work-block wow fadeInUp">
                    <div class="icon-box"><span class="icon flaticon-file"></span></div>
                    <div class="text">Valuation and signing of the contract</div>
                </div>

                <!-- Work Block -->
                <div class="work-block wow fadeInUp" data-wow-delay="300ms">
                    <div class="icon-box"><span class="icon flaticon-sketch-3"></span></div>
                    <div class="text">Perparation of a plan for all work</div>
                </div>

                <!-- Work Block -->
                <div class="work-block wow fadeInUp" data-wow-delay="600ms">
                    <div class="icon-box"><span class="icon flaticon-helmet"></span></div>
                    <div class="text">Implementation commissioned work</div>
                </div>

                <!-- Work Block -->
                <div class="work-block wow fadeInUp" data-wow-delay="900ms">
                    <div class="icon-box"><span class="icon flaticon-coin"></span></div>
                    <div class="text">Payment for the completed order</div>
                </div>

                <!-- Work Block -->
                <div class="work-block wow fadeInUp" data-wow-delay="1200ms">
                    <div class="icon-box"><span class="icon flaticon-valet"></span></div>
                    <div class="text">Handing over the finished object</div>
                </div>
            </div>
        </div>
    </section>
    <!--End Work Section -->
