@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Services Section -->
    <section class="services-section">
        <div class="auto-container">
            <div class="sec-title">
                <h2>Our Services</h2>
                <div class="text">What We Provide For You check now and deside it do you want now this</div>
            </div>

            <div class="services-carousel owl-carousel owl-theme">
                <!-- Service Block -->
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/service-1.jpg" alt=""></figure>
                            <div class="link"><a href="service-detail.html">Read More</a></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="service-detail.html">General Carpentry</a></h3>
                            <div class="text">Professionals work with a variety of all materials, in a variety of settings–indoor and outdoor, urban and all rural, far above ground…</div>
                        </div>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/service-2.jpg" alt=""></figure>
                            <div class="link"><a href="service-detail.html">Read More</a></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="service-detail.html">Furniture Remodoeling</a></h3>
                            <div class="text">Professionals work with a variety of all materials, in a variety of settings–indoor and outdoor, urban and all rural, far above ground…</div>
                        </div>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/service-3.jpg" alt=""></figure>
                            <div class="link"><a href="service-detail.html">Read More</a></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="service-detail.html">Hand Painting</a></h3>
                            <div class="text">Professionals work with a variety of all materials, in a variety of settings–indoor and outdoor, urban and all rural, far above ground…</div>
                        </div>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/service-1.jpg" alt=""></figure>
                            <div class="link"><a href="service-detail.html">Read More</a></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="service-detail.html">General Carpentry</a></h3>
                            <div class="text">Professionals work with a variety of all materials, in a variety of settings–indoor and outdoor, urban and all rural, far above ground…</div>
                        </div>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/service-2.jpg" alt=""></figure>
                            <div class="link"><a href="service-detail.html">Read More</a></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="service-detail.html">Furniture Remodoeling</a></h3>
                            <div class="text">Professionals work with a variety of all materials, in a variety of settings–indoor and outdoor, urban and all rural, far above ground…</div>
                        </div>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/service-3.jpg" alt=""></figure>
                            <div class="link"><a href="service-detail.html">Read More</a></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="service-detail.html">Hand Painting</a></h3>
                            <div class="text">Professionals work with a variety of all materials, in a variety of settings–indoor and outdoor, urban and all rural, far above ground…</div>
                        </div>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/service-1.jpg" alt=""></figure>
                            <div class="link"><a href="service-detail.html">Read More</a></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="service-detail.html">General Carpentry</a></h3>
                            <div class="text">Professionals work with a variety of all materials, in a variety of settings–indoor and outdoor, urban and all rural, far above ground…</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Services Section -->

