@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <!-- Team Section -->
    <section class="team-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Our Expert Worker</h2>
                <div class="text">We have Expert Worker <br>They provide Quality Work For Customer</div>
            </div>

            <div class="row">
                <!-- Team block -->
                <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="team.html"><img src="images/resource/team-1.jpg" alt=""></a></figure>
                            <ul class="social-links">
                               <li><a href="#"><i class="fa fa-pinterest"></i></a></li> 
                               <li><a href="#"><i class="fa fa-google-plus"></i></a></li> 
                               <li><a href="#"><i class="fa fa-twitter"></i></a></li> 
                               <li><a href="#"><i class="fa fa-facebook"></i></a></li> 
                               <li><a href="#"><i class="fa fa-dribbble"></i></a></li> 
                            </ul>
                        </div>
                        <div class="info-box">
                            <h5 class="name"><a href="#">Merry Joe</a></h5>
                            <span class="designation">Project Manager</span>
                        </div>
                    </div>
                </div>

                <!-- Team block -->
                <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="team.html"><img src="images/resource/team-2.jpg" alt=""></a></figure>
                            <ul class="social-links">
                               <li><a href="#"><i class="fa fa-pinterest"></i></a></li> 
                               <li><a href="#"><i class="fa fa-google-plus"></i></a></li> 
                               <li><a href="#"><i class="fa fa-twitter"></i></a></li> 
                               <li><a href="#"><i class="fa fa-facebook"></i></a></li> 
                               <li><a href="#"><i class="fa fa-dribbble"></i></a></li> 
                            </ul>
                        </div>
                        <div class="info-box">
                            <h5 class="name"><a href="#">Robert Joe</a></h5>
                            <span class="designation">Senior Worker</span>
                        </div>
                    </div>
                </div>

                <!-- Team block -->
                <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="team.html"><img src="images/resource/team-3.jpg" alt=""></a></figure>
                            <ul class="social-links">
                               <li><a href="#"><i class="fa fa-pinterest"></i></a></li> 
                               <li><a href="#"><i class="fa fa-google-plus"></i></a></li> 
                               <li><a href="#"><i class="fa fa-twitter"></i></a></li> 
                               <li><a href="#"><i class="fa fa-facebook"></i></a></li> 
                               <li><a href="#"><i class="fa fa-dribbble"></i></a></li> 
                            </ul>
                        </div>
                        <div class="info-box">
                            <h5 class="name"><a href="#">Jack Monika</a></h5>
                            <span class="designation">Senior Worker</span>
                        </div>
                    </div>
                </div>

                <!-- Team block -->
                <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="team.html"><img src="images/resource/team-4.jpg" alt=""></a></figure>
                            <ul class="social-links">
                               <li><a href="#"><i class="fa fa-pinterest"></i></a></li> 
                               <li><a href="#"><i class="fa fa-google-plus"></i></a></li> 
                               <li><a href="#"><i class="fa fa-twitter"></i></a></li> 
                               <li><a href="#"><i class="fa fa-facebook"></i></a></li> 
                               <li><a href="#"><i class="fa fa-dribbble"></i></a></li> 
                            </ul>
                        </div>
                        <div class="info-box">
                            <h5 class="name"><a href="#">Satlen Joe</a></h5>
                            <span class="designation">Senior Worker</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Team Section -->
