@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

  <!--Project Section-->
    <section class="project-section" style="background-color:black;">
        <!--Porfolio Tabs-->
        <div class="project-tab">
            <div class="uppper-box">
                <div class="auto-container">
                    <!--Sec Title-->
                    <div class="sec-title light">
                        <h2>Case Studies</h2>
                    </div>

                    <div class="tab-btns-box">
                        <!--Tabs Header-->
                        <div class="tabs-header">
                            <ul class="product-tab-btns clearfix">
                                <li class="p-tab-btn active-btn" data-tab="#p-tab-1">All Project</li>
                                <li class="p-tab-btn" data-tab="#p-tab-2">Furniture</li>
                                <li class="p-tab-btn" data-tab="#p-tab-3">Manufacturing</li>
                                <li class="p-tab-btn" data-tab="#p-tab-4">Indoor Furniture</li>
                                <li class="p-tab-btn" data-tab="#p-tab-5">Renovation Of House</li>
                                <li class="p-tab-btn" data-tab="#p-tab-6">Repairing</li>
                            </ul>
                        </div>                                                  
                    </div>
                </div>
            </div>

            <!--Tabs Content-->  
            <div class="p-tabs-content">
                <!--Project Tab / Active Tab-->
                <div class="p-tab active-tab" id="p-tab-1">
                    <div class="project-carousel owl-theme owl-carousel">
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/1.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/2.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/3.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/4.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/5.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/5.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/6.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/6.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Project Tab-->
                <div class="p-tab" id="p-tab-2">
                    <div class="project-carousel owl-theme owl-carousel">
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/1.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/2.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/3.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/4.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/5.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/5.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/6.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/6.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Project Tab-->
                <div class="p-tab" id="p-tab-3">
                    <div class="project-carousel owl-theme owl-carousel">
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/1.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/2.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/3.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/4.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/5.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/5.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/6.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/6.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Project Tab-->
                <div class="p-tab" id="p-tab-4">
                    <div class="project-carousel owl-theme owl-carousel">
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/1.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/2.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/3.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/4.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/5.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/5.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/6.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/6.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Project Tab-->
                <div class="p-tab" id="p-tab-5">
                    <div class="project-carousel owl-theme owl-carousel">
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/1.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/2.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/3.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/4.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/5.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/5.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/6.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/6.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Project Tab-->
                <div class="p-tab" id="p-tab-6">
                    <div class="project-carousel owl-theme owl-carousel">
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/1.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/2.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/3.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/4.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/5.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/5.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Gallery Item-->
                        <div class="gallery-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="images/gallery/6.jpg" alt=""></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="projects-detail.html"><i class="fa fa-link"></i></a>
                                        <a href="images/gallery/6.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                    <div class="caption-box">
                                        <h4><a href="projects-detail.html">woodzone Godown</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-box">
            <div class="auto-container">
                <div class="clearfix">
                    <div class="social-links">
                        <h5>Follow Us:</h5>
                        <ul class="social-icon-one">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                    <div class="text-box">
                        <h5>Do you want to explore all our works?</h5>
                        <a href="#" class="link">Click Here</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Project Section-->

