@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 <!--Why Choose us-->
    <section class="fluid-section-one">
        <div class="outer-container clearfix">
            <!--Image Column-->
            <div class="image-column wow fadeIn" style="background-image:url(images/rpm/rpm-regional-map.png);">
                <figure class="image-box"><img src="images/resource/image-1.jpg" alt=""></figure>
            </div>
            <!--Content Column-->
            <div class="content-column">
                <div class="inner-box">
                    <div class="sec-title">
                        <h2>Operating across Scotland</h2>
                    </div>
                    <div class="text">
                        <p><strong>We have 25 years of experience across multiple trades</strong></p>
                        <p>to your residential, office, restaurants hospital. Our designing team designs with your taste, space, and budget, Also our team will guide you to choose. We provide high quality products only to our customers, our prodcuts are certified with WI organization usa. </p>
                    </div>

                    <ul class="services clearfix">
                        <li><span class="icon flaticon-think"></span> <a href="service-detail.html">Efficent Design</a></li>
                        <li><span class="icon flaticon-tools"></span> <a href="service-detail.html">Quality Products</a></li>
                        <li><span class="icon flaticon-newspaper-1"></span> <a href="service-detail.html">Free Consultation</a></li>
                        <li><span class="icon flaticon-customer-service-1"></span> <a href="service-detail.html">24/7 Customer Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Why choose us -->
