
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="overlay">
            <img src="~/img//carousel-overlay-1.png" class="image-responsive" data-aos="fade-right" data-aos-duration="3000" />
        </div>
        <div class="overlay-right">
            <img src="~/img//carousel-overlay-2.png" class="image-responsive" data-aos="fade-left" data-aos-duration="3000" />
        </div>
        <div class="overlay-right">
            <img src="~/img//carousel-overlay-3.png" class="image-responsive" data-aos="fade-left" data-aos-duration="3000" />
        </div>
        <div class="overlay">
            <img src="~/img//carousel-overlay-4.png" class="image-responsive" data-aos="fade-right" data-aos-duration="2500" />
        </div>
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" data-parallax="scroll" data-image-src="../img/carousel_kitchen.jpeg" style="background-image: url(../img/about-header.jpg)">
            <div class="carousel-caption">
                <h1 class="carousel-title"><span class="reveal">About Us</span></h1>
                <h4><span class="reveal">Whatever your joinery needs our team have the skills and experience to help.</span></h4>
                <br />
            </div>
        </div>
    </div>
</div>


<!-- Page Content -->
<div class="container">
    <br />

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li class="breadcrumb-item active">About Us</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-8">
            <p>RPM Joinery & Maintenance is a family owned and operated company that offer a wide range of home improvement, joinery and maintenance services. Our services range from domestic to commercial, and are always fairly priced and built to the highest possible standard.</p>
            <p>RPM are based in Dundee, but also provide services to the surrounding areas such as Fife and Angus with many satisfied customers from Errol, Kingoodie, Invergowrie and Longforgan. If you are unsure if we can provide our services in your area, give us a call on <b> 07970058622 </b> or <a href="@Url.Action("Contact","Home")">contact us</a> for further details.</p>
            <p>There are many reasons for choosing RPM Joinery to undertake work in your home.  We are highly rated by our customers for the standard of quality in our work, but most importantly for the fair, personal service we offer.</p>
            <br />
            <div class="centerDiv">
                <a href="http://www.referenceline.com/carpenter_joiner-in-dundee-rpmjoineryandmaintenance-80571"> Read some of our customer reviews </a>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="img-fluid rounded mb-4" src="../../img/rpmBig.png"  data-aos="fade-up" data-aos-delay="200" alt="RPM Joinery Logo">
        </div>
    </div>
    <!-- Certifications -->
    <br>
    <hr>
    <div class="row">
        <div class="col-lg-6 trader-scheme-box"  data-aos="fade-up" data-aos-delay="0">
            <h3> Dundee Trusted Trader Scheme </h3>
            <img class="img rounded mb-2" src="../../img/DttLogo2.png" style="max-width:150px;" alt="Dundee Trusted Trader Scheme Alternative Logo">
            <br />
            <br />
            <p> RPM Joinery & Maintenance is an accredited member of the Dundee Trusted Trader Scheme. </p>
            <p> The Dundee Trusted Trader scheme is a local business partnership aimed at increasing consumer confidence, promoting good practice within local small business, and helping protect citizens from doorstep crime.</p>
            <p> The scheme is managed and administered by Dundee City Council Trading Standards service.</p>
            <p> For more information please visit the <a href="http://www.referenceline.com/tradingstandards/dundee/"> Dundee Trusted Trader Scheme information site.</a> </p>
        </div>
        <div class="vl"> </div>
        <div class="col-lg-5 trader-scheme-box"  data-aos="fade-up" data-aos-delay="200">
            <h3> Angus Reputable Trader Scheme </h3>
            <img class="img-fluid rounded mb-4" style="max-width:250px;" src="../../img/ArtsLogo2.png" alt="Angus Reputable Trader Scheme Alternative Logo">
            <p>
                RPM Joinery & Maintenance is also an accredited member of the Angus Reputable Trader Scheme. The scheme supports local businesses while giving you peace of mind that the trader you are using can be trusted. By being a part of this scheme, you can expect the following from us:
                <ul>
                    <li>full disclosure of call out charges</li>
                    <li>written quotations and written schedules of work</li>
                    <li>a friendly, reasonably priced aftercare service </li>
                </ul>
            </p>
            <p> For more information please visit the <a href="https://www.angus.gov.uk/tradingstandards/angus_reputable_trader_scheme"> Angus Reputable Trader Scheme information site.</a></p>
        </div>
    </div>
    <div class="row">
    </div>
</div>
<br>
<div id="carouselExampleIndicators" style="margin-bottom: -1rem;" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" data-parallax="scroll" style=" background-image: url(../img/services-header.jpg); filter: grayscale(100%);">
            <div class="carousel-caption">
                <h3><span style="background-color: rgba(0, 0, 0, 1) !important;" class="reveal">"Rpm Joinery fitted work tops in my salon, the work was done very professionally and to a very high standard"</span></h3>
                <br />
                <h5><span style="background-color: rgba(0, 0, 0, 1) !important;" class="reveal">- Dream Hair Salon</span></h5>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(".navbar").addClass('bg-dark-transparent');
        $('#about-link').addClass('active');
    </script>
    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $(".navbar");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
            });
        });
    </script>
}



