
@{
    ViewData["Title"] = "Services";
}

 <!--Page Title-->
    <section class="page-title" style="background-image: url(images/background/7.jpg);">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>Services</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li>Services</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Services Section -->
    <section class="services-section style-two">
        <div class="auto-container">
            <div class="row">
                <!-- Service Block -->
                <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/service-1.jpg" alt=""></figure>
                            <div class="link"><a href="service-detail.html">Read More</a></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="service-detail.html">General Carpentry</a></h3>
                            <div class="text">Professionals work with a variety of all materials, in a variety of settings–indoor and outdoor, urban and all rural, far above ground…</div>
                        </div>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/service-2.jpg" alt=""></figure>
                            <div class="link"><a href="service-detail.html">Read More</a></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="service-detail.html">Furniture Remodoeling</a></h3>
                            <div class="text">Professionals work with a variety of all materials, in a variety of settings–indoor and outdoor, urban and all rural, far above ground…</div>
                        </div>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/service-3.jpg" alt=""></figure>
                            <div class="link"><a href="service-detail.html">Read More</a></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="service-detail.html">Hand Painting</a></h3>
                            <div class="text">Professionals work with a variety of all materials, in a variety of settings–indoor and outdoor, urban and all rural, far above ground…</div>
                        </div>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/service-4.jpg" alt=""></figure>
                            <div class="link"><a href="service-detail.html">Read More</a></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="service-detail.html">Manufactur Furniture</a></h3>
                            <div class="text">Professionals work with a variety of all materials, in a variety of settings–indoor and outdoor, urban and all rural, far above ground…</div>
                        </div>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/service-5.jpg" alt=""></figure>
                            <div class="link"><a href="service-detail.html">Read More</a></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="service-detail.html">Furniture Design</a></h3>
                            <div class="text">Professionals work with a variety of all materials, in a variety of settings–indoor and outdoor, urban and all rural, far above ground…</div>
                        </div>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/service-6.jpg" alt=""></figure>
                            <div class="link"><a href="service-detail.html">Read More</a></div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="service-detail.html">Commercial work</a></h3>
                            <div class="text">Professionals work with a variety of all materials, in a variety of settings–indoor and outdoor, urban and all rural, far above ground…</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Services Section -->

    <!-- Call To Action -->
    <section class="call-to-action" style="background-image:url(images/background/6.jpg)">
        <div class="auto-container">
            <div class="row">
                <div class="content-column col-lg-8 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="title"> With over 20 years of experience</div>
                        <h2>In need of a new wardrobe, kitchen installation, renovation or any other woodwork.</h2>
                    </div>
                </div>

                <div class="btn-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="btn-box">
                            <span class="number">+ 62 867 6872</span>
                            <a href="#" class="theme-btn btn-style-two">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Call To Action -->

    @await Html.PartialAsync("~/Views/Shared/Sections/_ClientReviews.cshtml");

    @await Html.PartialAsync("~/Views/Shared/Sections/_Clients.cshtml");

</div><!--<<< Page Wrapper -->