@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 <!-- Main Footer -->
    <footer class="main-footer" style="background-image: url(images/background/3.jpg);">
        <div class="auto-container">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="row">
                    <!--Big Column-->
                    <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <!--Footer Column-->
                            <div class="footer-column col-xl-8 col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget about-widget">
                                    <div class="footer-logo">
                                        <figure class="image">
                                            <img src="/img/rpm-logo-trans.png" style="max-width:250px; color:black;" alt="" title="">
                                        </figure>
                                    </div>
                                    <div class="widget-content">
                                        <div class="text">Our professionalism, good service & trust to the home repair maintenance business. We take immense pride in sending some of the most of professional seds handymen to yours that aren't workings every day.</div>
                                        <ul class="social-links">
                                            <li class="title">Follow Us:</li>
                                            <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>       

                            <!--Footer Column-->
                            <div class="footer-column col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                    <h2 class="widget-title">Useful Links</h2>
                                    <div class="widget-content">
                                        <ul class="list clearfix">
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Our Projects</a></li>
                                            <li><a href="#">Our Team</a></li>
                                            <li><a href="#">Testimonials</a></li>
                                            <li><a href="#">Comming Soon</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>

                    <!--Big Column-->
                    <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                        <div class="row clearfix">
                            <div class="footer-column col-xl-7 col-lg-6 col-md-6 col-sm-12">
                                <!--Footer Column-->
                                <div class="footer-widget popular-posts">
                                    <h2 class="widget-title">Our Solution</h2>
                                     <!--Footer Column-->
                                    <div class="widget-content">
                                        <div class="post">
                                            <div class="thumb"><a href="blog-detail.html"><img src="images/resource/post-thumb-1.jpg" alt=""></a></div>
                                            <h4><a href="blog-detail.html">Stylish and Unique Ways to Display Your Television</a></h4>
                                            <span class="date">28 Dec, 2017</span>
                                        </div>

                                        <div class="post">
                                            <div class="thumb"><a href="blog-detail.html"><img src="images/resource/post-thumb-2.jpg" alt=""></a></div>
                                            <h4><a href="blog-detail.html">Know How to Store Your Home Appliances In...</a></h4>
                                            <span class="date">13 Oct, 2017</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Footer Column-->
                            <div class="footer-column col-xl-5 col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget contact-widget">
                                    <h2 class="widget-title">Contact Us</h2>
                                    <div class="widget-content">
                                        <ul class="contact-list">
                                            <li><span class="fa fa-map-marker"></span> Structure Avenue, <br>Melbourne City, Austalia.</li>
                                            <li><span class="fa fa-phone"></span>+321 4567 89 012 <br><a href="#">supportyou@woodzone.com</a></li> 
                                            <li><span class="fa fa-clock-o"></span>working Hours <br> 09:00 am  to  5:00 pm</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="copyright-text">Copyrights 2021. All Rights are Reserved by <a href="#">RPM Joinery & Maintenance</a></div>
            </div>
        </div>
    </footer>
    <!-- End Main Footer -->
